/* 背景色：白（#ffffff）/ 文字色：黒（#505050） */

/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
input[type="text"] {
  border-radius: 0;
}

/* body(background) */
body {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  font: 1.6rem/1.25 Arial, sans-serif;
  background-color: #f5f5f5;
  color: #505050;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}
/*END RESETS*/

/* GLOBAL STYLES */
.form-group > input[type="text"] {
  display: inline-block;
  margin-top: 0.4rem;
}

/* タスクの数の表示 */
#list-heading {
  text-align: center;
}

/* 「追加」「編集」「削除」ボタン */
.btn { /* ボタン全て */
  padding: 0.8rem 1rem 0.7rem;
  cursor: pointer;
  text-transform: capitalize;
}
.btn.toggle-btn { /* タブ切り替えボタン */
  border-bottom: 0.2rem solid lightgray;
}
.btn.toggle-btn[aria-pressed="true"] {  /* 現在のタブのボタン */
  text-decoration: underline;
  border: 2px dashed #32cd32;
}
.btn__edit { /* 「編集」ボタン */
    display: inline-block;
    position: absolute;
  right:30px;
  top:5px;
}
.btn__delete { /* 「削除」ボタン */
    display: inline-block;
  color: #fff;
  position: absolute;
  right:0px;
  top:5px;
}
.btn__filter {
  border-color: lightgrey;
}
.btn__primary { /* 「追加」ボタン */
  color: #fff;
  background-color: #000;
}
.btn-group {
  text-align: right;
  display: inline-block;
  justify-content: space-between;
}
.btn-group > * {
  flex: 1 1 49%;
}
.btn-group > * + * {
  margin-left: 0.8rem;
}
.label-wrapper {
  margin: 0;
  flex: 0 0 100%;
  text-align: center;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
[class*="stack"] > * {
  margin-top: 0;
  margin-bottom: 0;
}
.stack-small > * + * {
  margin-top: 1.25rem;
}
.stack-large > * + * {
  margin-top: 2.5rem;
}
@media screen and (min-width: 550px) {
  .stack-small > * + * {
    margin-top: 1.4rem;
  }
  .stack-large > * + * {
    margin-top: 2.8rem;
  }
}
.stack-exception {
  margin-top: 1.2rem;
}
/* END GLOBAL STYLES */

/* todo-app (foreground) */
.todoapp {
  background: white;
  /* 角を丸くする */
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16rem;
  margin-bottom: 6rem;
  width: 90%;
  padding: 4rem;
  position: relative;
  /* 影をつける */
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 550px) {
  .todoapp {
    padding: 4rem;
  }
}
.todoapp > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.todoapp > form {
  max-width: 100%;
}
.todoapp > h1 {
  display: block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
.label__lg {
  line-height: 1.01567;
  font-weight: 300;
  padding: 0.8rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* task input box */
.input__lg {
  padding: 2rem;
  border: 2px solid #505050;
}
.input__lg:focus {
  border-color: #505050;
}
[class*="__lg"] {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
}
[class*="__lg"]:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 620px) {
  [class*="__lg"] {
    font-size: 2.4rem;
  }
}


.filters {
  width: 100%;
  margin: unset auto;
}
/* Todo item */
.todo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.todo > * {
  flex: 0 0 100%;
}
.todo-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}
.todo-text:focus {
  box-shadow: inset 0 0 0 2px;
}

/* checkbox */
.c-cb {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 44px;
  padding-left: 40px;
  clear: left;
}
.c-cb > label::before,
.c-cb > input[type="checkbox"] {
  box-sizing: border-box;
  top: 6px;
  left: 4px;
  width: 30px;
  height: 30px;
}
.c-cb > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin: 0;
  opacity: 0;
}
.c-cb > label { /* チェックボックス */
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.c-cb > label::before { /* チェックが付けられる前のCB */
  content: "";
  position: absolute;
  border: 2px solid currentColor;
  background: transparent;
}
.c-cb > label::after { /* チェックが付けられた後のCB */
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
  color: #32cd32;
}
.c-cb > input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.body{
    background-image: url("./images/background-img6.png");
}

